.descriptionbox{
  margin: 80px 50px;
}

.descriptionbox-navigator{
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.descriptionbox-nav-box{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  border: 1px solid #d0d0d0;
}

.descriptionbox-nav-box .fade{
  background: #fbfbfb;
  color: #555;
}

.descriptionbox-description{
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #d0d0d0;
  padding-bottom: 50px;
  padding: 20px;
}

.descriptionbox-description p{
  font-size: 22px;
  font-weight: 600;
}